<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Diploma project</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor1/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor1/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor1/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor1/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor1/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor1/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/vendor1/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/css1/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="d-flex align-items-center justify-content-between" style ="position: relative; right: 100px;">
            <a class="logo d-flex align-items-center">
              <img src="/static/img/logo.png" alt="">
              <span class="d-none d-lg-block">QazOsint</span>
          </div>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="/static/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Басты бет</a></li>
          <li><a class="getstarted scrollto" href="/index">Бастау</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
            <h1>QazOsint-қа қош келдіңіз</h1>
            <h2>Harvester негізіндегі доменді тексеру құралы</h2>
        </div>
      </div>
      <div class="text-center">
        <a href="/index" class="btn-get-started scrollto">Бастау</a>
      </div>

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-search-line"></i></div>
            <h4 class="title"><a>Доменді барлау</a></h4>
            <p class="description">Harvester құралын пайдаланып доменді жан-жақты барлауды орындаңыз.</p>
          </div>
        </div>
      
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-code-box-line"></i></div>
            <h4 class="title"><a>ASNs-тарды алыңыз</a></h4>
            <p class="description">Доменге қатысты офлайн жүйе нөмірлерін (ASN) табыңыз.</p>
          </div>
        </div>
      
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="ri-link-m"></i></div>
            <h4 class="title"><a>URL мекенжайларын іздеу</a></h4>
            <p class="description">Доменге қатысты қызықты URL мекенжайларын табыңыз.</p>
          </div>
        </div>
      
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-computer-line"></i></div>
            <h4 class="title"><a>IP мекенжайларын анықтау</a></h4>
            <p class="description">Доменге қатысты IP мекенжайларын анықтаңыз.</p>
          </div>
        </div>
      </div>
      
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Біз туралы</h2>
            <p>QazOsint көмегімен ашыңыз</p>
          </div>
          
          <div class="row content">
            <div class="col-lg-6">
              <p>
                QazOsint-бұл сіздің доменді жан-жақты барлауға арналған дайын платформаңыз. Біздің қуатты құралымыз, Harvester, ASN, URL мекенжайлары және медиа IP мекенжайларын қоса алғанда, құнды Домен ақпаратын алуға мүмкіндік береді.              </p>
              <ul>
                <li><i class="ri-check-double-line"></i> Доменді егжей-тегжейлі барлауды көп күш жұмсамай орындаңыз</li>
                <li><i class="ri-check-double-line"></i> Автономды жүйе нөмірлерін алу (ASN)</li>
                <li><i class="ri-check-double-line"></i> Доменге қатысты қызықты URL мекенжайларын табыңыз</li>
              </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                QazOsint-те біз сізге нақты және өзекті ақпаратты ұсынуға тырысамыз. Біздің платформа сіздің тергеуіңізге, қауіпсіздікті бағалауға және барлау жинау процестеріне көмектесуге арналған.              </p>
            </div>
          </div>
          

      </div>
    </section><!-- End About Section -->


    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Киберқауіпсіздік туралы заңдар</h2>
            <p>Қандай әрекеттер заңсыз екенін зерттеңіз</p>
          </div>
          
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
          
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Компьютерлік ақпаратқа рұқсатсыз қол жеткізу: бұл ақпаратты алу, өзгерту немесе ашу немесе мұндай жүйелердің қалыпты жұмысын бұзу мақсатында тиісті рұқсатсыз компьютерлік жүйелерге, желілерге немесе дерекқорларға қол жеткізуді білдіреді.                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <h3>Article 273</h3>
                  <h4>УК РК</h4>
                </div>
              </div><!-- End testimonial item -->
          
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Зиянды бағдарламалық жасақтаманы құру, пайдалану және тарату: бұған вирустар, құрттар немесе басқа зиянды бағдарламалар сияқты зиянды бағдарламалық жасақтаманы әзірлеуге, таратуға немесе пайдалануға байланысты құқық бұзушылықтар жатады.                  </p>
                  <h3> Article 273-1</h3>
                  <h4>УК РК</h4>
                </div>
              </div><!-- End testimonial item -->
          
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Компьютерлік ақпараттық жүйелердің жұмысына араласу: бұл компьютерлік жүйелердің, желілердің немесе дерекқорлардың қалыпты жұмысын бұзуға немесе кедергі келтіруге бағытталған, олардың жұмысына зақым келтіруге немесе кедергі келтіруге бағытталған қасақана әрекеттерді қамтиды.                  </p>
                  <h3>Article 273-2</h3>
                  <h4>УК РК</h4>
                </div>
              </div><!-- End testimonial item -->
          
            </div>
            <div class="swiper-pagination"></div>
          </div>
          

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Services Section ======= -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container d-md-flex py-4">
  
      <div class="me-md-auto text-center mx-auto">
        <div class="copyright">
          &copy; Авторлық құқық <strong><span>QazOsint</span></strong>. Барлық құқықтар қорғалған
        </div>
        <div class="credits">
          Designed by <a>MY</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
  

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/vendor1/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/vendor1/aos/aos.js"></script>
  <script src="/static/vendor1/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor1/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor1/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor1/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor1/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js1/main.js"></script>

</body>

</html>